importFrom("tomio.signals", "find.peaks")
importFrom("grDevices", "col2rgb", "rgb")
importFrom("XML", "xmlToList")
importFrom("grDevices", "hcl.colors")
importFrom("graphics", "abline", "legend", "lines")
importFrom("utils", "read.table", "tail")

export(plot.xray)
export(plot.xray.group)
export(find.xray.peak)
export(read.xenocs)
export(read.xray.files)
export(read.xrdml)
export(subtract.background)
export(write.xray)
